div{
    outline:1px solid lime;
}
.container{ 
width:920px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{ 
background-color: blue;
height: 240px;
width:920px;
}
.bluebox{
    background-color:lightblue;
    height:200px;
    width:430px;
    float:left;
    margin-left:20px;
    margin-top:20px;
    
}
.greenbox{
    width:920px;
    height:300px;
    background-color:greenyellow;
    float:left;
    
}
.redbox{
    background-color: red;
    height: 520px;
    width:920px;
    float:left;
    
}
.babybox{
    background-color:yellow;
    height:160px;
    width:160px;
    float:left;
    margin-left:55px;
    margin-top:55px;
    
}
.bigbabybox{
    background-color:yellow;
    height;160px;
    width;430px;
    float:left;
    
    
}