div{
    outline:1px solid black;
}
.container{ 
width:920px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{ 
background-color: blue;
height: 100px;
width:920px;
}
.smallbox1{
    width:260px;
    height:60px;
    margin-left:20px;
    margin-top:20px;
    background-color:yellow;
    float:left;
    
}
.smallbox2{
    height:60px;
    width:600px;
    margin-left:20px;
    margin-top:20px;
    background-color:yellow;
    float:left;
    
}

.bigbox2{
    width:920px;
    height:300px;
    background-color:green;
    
}


