div{
    outline:1px solid lime;
}
.container{ 
width:920px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{ 
background-color: blue;
height: 200px;
width:920px;
}
.logo{
    width:160px;
    height:160px;
    margin:20px;
    background-color:black;
    float:right;
    
}
.submenu{
    height:400px;
    width:300px;
    background-color:turquoise;
    float:left;
    
}
.content{
    height:400px;
    width:620px;
    float:left;
    background-color: azure;
    padding-left:20px;
    padding-top:20px;
    
    
    
}
.smallbox{
    width:160px;
    height:160px;
    float:left;
    background-color:aquamarine;
    
}