div{ 
outline: 1px solid
red; 
}

.container{
    width: 1200px;
    margin-left:
        auto;
    margin-right:
        auto;
}

.header{
    height: 200px;
    width:100%;
    
}
.logo{
    width:205px;
    font-size: 2.5rem;
}